---
interface Props {
  title: string;
  description: string;
  image?: string;
  ogimage?:string
}

const site = Astro.site;
if (!Astro.site) {
  throw new Error(
    "Astro.site is not defined. Please set the 'site' field in astro.config.mjs.",
  );
}

const canonicalURL = new URL(Astro.url.pathname, site).toString();
const { title, description, image = "/favicon.svg",ogimage = image } = Astro.props;
const imageURL = new URL(ogimage, site).toString();
const twitterDomain = new URL(site!).hostname;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg" href={image} />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="preload"
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap"
  as="style"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap"
  rel="stylesheet"
/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageURL} />
<meta property="og:logo" content={imageURL} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={twitterDomain} />
<meta property="twitter:url" content={canonicalURL} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={imageURL} />
